---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-alpina
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-alpina
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: my-alpina
    spec:
      containers:
      - image: alpine:3.18
        name: my-alpina
        command: ["/bin/sh"]
        args:
          - -c
          - >-
              apk add --no-cache openssh &&
              echo 'PasswordAuthentication yes' >> /etc/ssh/sshd_config &&
              echo 'PermitRootLogin yes' >> /etc/ssh/sshd_config &&
              echo 'PermitEmptyPasswords yes' >> /etc/ssh/sshd_config &&
              echo "root:root" | chpasswd &&
              ssh-keygen -A &&
              /usr/sbin/sshd -D
        # resources:
        #   requests:
        #     memory: "128Mi"
        #     cpu: "250m"
        #   limits:
        #     memory: "384Mi"
        #     cpu: "500m"
        ports:
        # - containerPort: 80
        #   protocol: TCP
        #   name: http
        - containerPort: 443
          protocol: TCP
          name: ssh